<body>

<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" [routerLink]="['inicio']">Inicio</a></li>
        <li><a class="nav-link scrollto" [routerLink]="['docente']">Docente</a></li>
        <li><a class="nav-link scrollto" [routerLink]="['precios']">Precios de los cursos</a></li>
        <li><a class="nav-link scrollto" href="https://api.whatsapp.com/send?phone=528671658285"><i class="bi bi-whatsapp">&nbsp;</i>Contacto</a></li>
        <li><a class="nav-link scrollto" [routerLink]="['registro']">Registrar</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Iniciar sesion
</button>
<a [routerLink]="['']" (click)="cerrarSesion()" *ngIf="usuario_activo==true"><i class="bi bi-box-arrow-right">Cerrar Sesion</i></a>
  </div>
</header><!-- End Header -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Iniciar sesion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
            <input type="email" name="Correo" [(ngModel)]="form.correo" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1"  class="form-label">Contraseña</label>
            <input type="password" name="contrasena" [(ngModel)]="form.contrasena" class="form-control" id="exampleInputPassword1">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" (click)="iniciarSesion()" *ngIf="usuario_activo==false" class="btn btn-success">Iniciar sesion</button>
      </div>
    </div>
  </div>
</div>
</body>