<section id="pricing" class="pricing section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Precios</h2>
        <p>El precio de los paquetes son:</p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="box" data-aos="zoom-in" data-aos-delay="100">
            <h3>Básica</h3>
            <h4><sup>$</sup>10<span> / mes</span></h4>
            <ul>
              <li>Ejercicios Dinamicos</li>
              <li>Recomendaciones</li>
              <li class="na">Compra de material</li>
              <br><br>
              <br>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Pagar ahora</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box recommended" data-aos="zoom-in">
            <span class="recommended-badge">Recomendada</span>
            <h3>Intermedia</h3>
            <h4><sup>$</sup>19<span> / mes</span></h4>
            <ul>
              <li>Ejercicios Dinamicos</li>
              <li>Recomendaciones</li>
              <li>Material Incluido</li>
              <li class="na">Compra del material</li>
              <br>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Pagar ahora</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="100">
            <h3>Avanzada</h3>
            <h4><sup>$</sup>29<span> / mes</span></h4>
            <ul>
              <li>Ejercicios Dinamicos</li>
              <li>Recomendaciones</li>
              <li>MAterial Incluido</li>
              <li>Recompesas Por Rendimiento</li>
              <li>Atención Inmediate</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Pagar ahora</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Pricing Section -->

